#root {
    & .ui.container.wrapper {
        & .grid.main-grid.contacts {
            & .row-content-1.contacts {
                min-height: 55%;
                align-content: start;

                & .filter-buttons {


                    & .active,
                    & .button:hover {

                        &.process,
                        &.premium {
                            color: $color-detail2 !important;
                        }
                    }

                    & .pagination {
                        width: min-content;
                        align-items: center;

                        & .button {
                            background-color: transparent;
                            font-size: 1rem;
                            color: #000;
                            padding: 0;

                            // transition: transform .1s ease-out;
                            &:focus,
                            &:active,
                            & .chevron:active,
                            & .chevron:before {
                                background-color: transparent !important;
                            }

                            & .chevron {
                                font-size: 1.2rem;

                            }
                        }

                        & span {
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            & .row-content-2 {
                justify-content: center;
                padding: 0 1rem 1rem 2.5rem;
            }
        }
    }
}