@import 'react-big-calendar/lib/sass/styles';

#root {
    & #rbc {
        box-sizing: content-box;
        margin: .5rem;
        padding: 1rem;
        @include gradient-primary-dark;
        border-radius: .5rem;
        height: 90%;

        & .rbc-calendar {

            & .rbc-toolbar {
                border-radius: .5rem;

                & * {
                    color: #fff;
                }

                & .rbc-btn-group {

                    & button {
                        border: 0;
                        cursor: pointer;

                        &:active,
                        &:focus {
                            background-color: transparent;
                            box-shadow: none;
                            color: #fff;
                            outline: 0;
                        }

                        &:hover {
                            background-color: transparent;
                            color: $color-detail;
                        }

                    }
                }

            }

            & .rbc-month-view {
                & .rbc-month-header {
                    color: #fff;
                }

                & .rbc-month-row {

                    & .rbc-row-bg {
                        background-color: $color-primary-light;
                    }

                    & .rbc-row-content {
                        & .rbc-event {
                            background-color: $color9;
                            color: $color9;
                            text-overflow: clip;
                            // width: 1rem;
                            height: .7rem;
                            // margin: .2rem;
                            transition: all .1s linear;

                            &:focus {
                                outline: none;
                            }

                            &:hover {
                                background-color: $color-secondary;
                                transition: all .1s linear;
                            }

                            &-content {
                                display: none;
                            }
                        }

                    }
                }
            }

            & .modals.dimmer {
                position: absolute;
                box-sizing: content-box;
                background-color: transparent;

                & .mini {
                    overflow: hidden;
                    background-color: $color-secondary-dark;
                    border-radius: 1rem;
                    border: .5rem solid $color-primary-dark;
                    color: $color-primary-dark;
                    font-weight: $bold;

                    & .content {
                        width: 80%;
                        background-color: transparent;

                        & .header {
                            font-size: 1.4rem;

                        }

                        & .description {
                            padding: 1rem 0;
                            font-size: 1.2rem;
                        }
                    }

                    & .button {
                        background-color: transparent;
                        color: $color-secondary;
                        font-size: 1.2rem;
                    }
                }
            }

        }
    }
}