@import 'react-big-calendar/lib/sass/styles';

#root {
    & .pipeline-calendar {

        & .calendar-column {
            min-height: 40rem;

            @include breakpoint(tablet_landscape) {
                max-height: 50rem;
            }

            @include breakpoint(smartphone) {
                padding: 0;
                min-height: 50rem;
            }

            & #rbc {
                box-sizing: content-box;
                margin: auto .5rem;
                padding: 1rem;
                @include gradient-primary-dark;
                border-radius: .5rem;
                height: 95%;
                background: #005C97;
                background: -webkit-linear-gradient(to right, #363795, #005C97);
                background: linear-gradient(to right, #363795, #005C97);
                border: thin solid $color-secondary-dark;
                box-shadow: 2px 2px 4px 1px rgb(0, 0, 0);

                @include breakpoint(tablet_lanscape) {
                    min-height: 15% !important;
                    max-height: 20% !important;
                    height: 10%;
                }

                & .rbc-calendar {

                    & .rbc-toolbar {
                        border-radius: .5rem;

                        @include breakpoint(tablet_landscape) {
                            padding: 1rem 0;
                            justify-content: space-around;

                            &-label {
                                max-width: min-content !important;
                                white-space: nowrap;
                                padding: 1.5rem 0;
                            }
                        }

                        & * {
                            color: #fff;
                        }

                        & .rbc-btn-group {

                            & button {
                                border: 0;
                                cursor: pointer;

                                &.rbc-active,
                                &:active,
                                &:focus {
                                    background-color: transparent;
                                    box-shadow: none;
                                    color: #fff;
                                    outline: 0;
                                }

                                &:hover {
                                    background-color: transparent;
                                    color: $color-detail;
                                }
                            }
                        }
                    }

                    & .rbc-month-view {
                        & .rbc-month-header {
                            color: #fff;
                        }

                        & .rbc-month-row {

                            & .rbc-row-bg {
                                background-color: #fff;

                                & .rbc-today {
                                    background-color: $color3;
                                    border: thin solid $color-primary-dark;
                                }
                            }

                            & .rbc-row-content {
                                & .rbc-event {
                                    background-color: $color9;
                                    color: $color9;
                                    text-overflow: clip;
                                    height: .7rem;
                                    transition: all .1s linear;

                                    &:focus {
                                        outline: none;
                                    }

                                    &:hover {
                                        background-color: $color-secondary;
                                        transition: all .1s linear;
                                    }

                                    &-content {
                                        display: none;
                                    }
                                }

                                & .rbc-current {
                                    color: $color-detail2;
                                }

                            }
                        }
                    }

                    & .modals.dimmer {
                        position: absolute;
                        box-sizing: content-box;
                        background-color: transparent;

                        & .info {
                            display: flex !important;
                            flex-direction: column;
                            flex: .4 0;
                            min-height: min-content;
                            width: 60%;
                            background-image: radial-gradient(circle farthest-corner at 1.3% 2.8%, rgba(239, 249, 249, 1) 0%, rgba(182, 199, 226, 1) 100.2%);

                            & .header {
                                font-size: 1.7rem;
                                background-color: #537895;
                                background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
                                color: #fff;
                                border: none;
                            }

                            & div {
                                display: flex;
                                flex: 1 0;
                                justify-content: space-between;
                                align-items: flex-start;
                                padding: .75rem 0 .75rem 1.5rem;
                                font-size: 1.3rem;
                                font-weight: $bold;
                                border-bottom: thin solid $color-secondary-dark;

                                &:first-of-type {
                                    flex: 1.5 1;

                                }

                                &:last-of-type {
                                    flex: 2 1;
                                    align-items: flex-start;
                                    padding-bottom: 1rem;
                                    border-bottom: none;

                                    & span {
                                        text-indent: 1rem;
                                        line-height: 1.3;
                                    }
                                }

                                & span {
                                    font-weight: $light;
                                    justify-self: flex-start;
                                    width: 80%;

                                }
                            }

                            & .button {
                                position: absolute;
                                right: 0;
                                background-color: transparent;
                                color: $color-secondary-dark;
                                font-size: 1.2rem;

                                &:hover {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}