.order-form{
    & .big.form{
        & .field .selection.dropdown .menu{
            max-height: 30rem;
            overflow: scroll !important;
        }
    }
    & .btn-group-1 {
        display: flex;
        justify-content: flex-start;
        & .label, .field{
            @include breakpoint(smartphone) {
                padding-bottom:1rem !important;
            }
        }
        & .label {
            width: max-content;
            margin-left: 1rem;
            padding: 0;
            text-align: left;
            font-size: 1.3rem;
            background-color: transparent;
            color: #fff;
            align-self: center;
        }
    }

    & .btn-group-2 {
        display: flex;
        justify-content: flex-start;
        padding: 1rem 1rem;

        & .label {
            width: max-content;
            margin-left: 1rem;
            padding: 0;
            text-align: left;
            font-size: 1.3rem;
            background-color: transparent;
            color: #fff;
            align-self: center;
        }

        & .field {
            flex: .2 0 !important;

            & .amount,
            & .price {
                flex: .3 0 !important;
                background-color: red;
                font-size: .5rem;
                text-align: center;
                padding: .6rem 0;
            }
        }
    }

}