#root {
    & .ui.container.wrapper {

        & .log.task,
        & .log.dashboard,
        & .call-log{
            background: rgb(169, 41, 79);
            background: linear-gradient(0deg, rgba(169, 41, 79, 1) 0%, rgba(22, 199, 154, 0.35) 1%, rgba(255, 255, 255, 1) 7%, rgba(255, 255, 255, 1) 93%, rgba(22, 199, 154, 0.35) 99%, rgba(169, 41, 79, 1) 100%);

            & * {
                color: #fff;
                visibility: visible;
            }

            & .ui.header {
                margin-top: 2rem;
                display: flex;
                justify-content: space-between;

                & span {
                    margin-top: 2rem;
                display: flex;
                justify-content: space-between;

                }

                & .logs-button-group {
                    border: 0;
                    padding-bottom: 1rem;

                    & .button {
                        font-size: 1.2rem;
                        color: $color3 !important;
                        border: 0;

                        &:hover {
                            border-radius: 0;
                            text-decoration: underline;
                            background-color: transparent !important;
                        }

                        &:active {
                            background-color: $color-secondary-dark !important;
                        }
                    }

                }
            }

            & .item {
                display: flex;
                border: .2rem solid $color3;
                border-radius: 1rem;
                box-shadow: .1rem .1rem .2rem .1rem $color-primary-light;
                position: relative;
                padding-top: 0.5rem;
                margin: .7rem 0;

                & i {
                    align-self: center;
                    height: min-content;
                    margin: 0 2.5rem 0 1rem;

                    &.checkmark:before, &.x:before {
                        font-size: 2rem;
                    }
                }

                & .content {
                    font-size: 1.2rem;
                    width: 100%;

                    & .header {
                        color: $color3;
                    }

                    & .meta {
                        display: flex;
                        justify-content: space-evenly;

                        & span {
                            flex: 1 0;
                            color: $color1;
                        }
                    }
                }

                & .button {
                    position: absolute;
                    right: 0;
                    top: 55%;
                    background-color: $color-primary;
                    color: #fff;

                    &:hover {
                        background-color: $color-primary-dark;
                    }
                }
            }
        }
    }
}