@import '../../styles/variables';

#root {
    .ui.vertical.menu.pointing {
        width: 0;
        flex: 0.15 1;
        border: 0;
        margin: 0;
        display: initial;
        transition: flex .5s ease-out;

        @include breakpoint(tablet) {
            max-width: 0;
        }

        &.off {
            flex: 0 1;
            transition-duration: .3s;

            @include breakpoint(tablet) {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                max-width: unset;
                width: unset;
                z-index: 5;

            }

            & .sideBar {
                @include breakpoint(tablet) {
                    overflow-y: scroll;
                    scrollbar-color: red !important;
                    scroll-padding: 0;
                    padding: 0;

                    & :-webkit-scrollbar {
                        appearance: none !important;
                        height: 0;
                        width: 0;
                    }
                }

                & .button .icon {
                    transition: color .3s ease-out;
                    color: $color-primary-dark;

                    @include breakpoint(tablet) {
                        color: #fff;
                    }
                }

                & *:not(.icon) {
                    transition: opacity .1s ease-out;
                    opacity: 0;

                    @include breakpoint(tablet) {
                        opacity: 1;
                    }
                }
            }
        }

        & .sideBar {
            background-color: #0a1128;
            height: 100%;
            display: flex;
            border: 0;
            font-size: 1.6rem;
            transition: none;
            flex: 1 0;
            overflow: hidden;

            & *:not(.icon) {
                transition: opacity .15s ease-in .3s;
                opacity: 1;
            }

            & .nav-header {
                display: flex;
                flex: .4 0;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                color: $color-primary-light;
                margin: 0;
                padding: 0;
                width: 100%;
                height: min-content;

                & img {
                    max-width: 10vw;
                    max-height: 10vw;
                    margin-top: 10px;

                    @include breakpoint(tablet) {
                        max-width: 5rem;
                        max-height: 5rem;
                    }
                }

                & h3 {
                    margin: 10px;
                    font-size: 3rem;
                    color: rgba(255, 255, 255, 0.842);
                    border: 0;

                    @include breakpoint(tablet) {
                        margin: 0 auto;
                    }
                }
            }

            & a.link.item {
                align-self: stretch;
                color: #edf6f9;
                font-family: $font-serif;
                display: inline-flex;
                flex-direction: row-reverse;
                justify-content: flex-start;
                padding-right: 0;

                @include breakpoint(tablet) {
                    justify-content: center;
                }

                &.admin {
                    color: red;

                    &.active,
                    &.active:hover {
                        color: red;
                    }

                    &:hover {
                        color: red;
                    }
                }

                &>* {
                    margin: 0;
                }

                & .icon {
                    flex: 0;
                    padding: 0 1rem;
                }

                &.active,
                &.active:hover {
                    color: $color-primary-dark;
                    background-color: #edf6f9;
                    border-color: #edf6f9;
                }

                &:hover {
                    color: $color-detail;
                    background-color: $color-primary-dark;
                    border-color: $color-secondary-light;
                }
            }

            & .button {
                font-size: 3rem;
                padding: 0;
                margin: 0;
                position: fixed;
                left: 10%;
                background-color: transparent;
                z-index: 1;

                & .icon {
                    transition: color .5s ease-in;
                    color: white;
                }
            }

            & #btns {
                display: flex;
                position: relative;
                width: 100%;
                height: min-content;
                margin: 0;

                & .buttons-row {
                    position: relative;
                    height: max-content;
                    margin: 0;
                    border-top: thin solid #fff;
                    border-bottom: thin solid #fff;
                    padding-top: 1.5rem;
                    display: flex;
                    width: 100%;
                    flex-direction: column;

                    & .button {
                        position: relative;
                        display: block;
                        flex: 1 1;
                        color: #fff;
                        margin: 0 auto;
                        padding-bottom: 2rem;
                        width: 100%;
                        left: 0;
                        font-size: 1.7rem;
                    }
                }
            }

            & :last-child {
                align-self: flex-start;
                margin: auto 0 5rem 0;
                width: 100%;
                padding: 0;
                border: 0;
                text-align: center;

                & .ui.dropdown {

                    &:hover,
                    &.active {
                        &>* {
                            color: $color-primary-light;
                            opacity: 1;
                        }
                    }

                    &>* {
                        color: $color-primary-dark;
                    }
                }

                & .text,
                .dropdown.icon {

                    opacity: 0.8;
                }

                & i {
                    margin: 0;
                }

                & .menu {
                    background-color: transparent;
                    margin: 1rem 0;
                    top: 0;
                    bottom: 0;

                    & .item.logout {
                        margin: 0 !important;
                        padding: 0;

                        &:hover {
                            background-color: transparent !important;

                            & .label,
                            i.power.icon {
                                color: $color-secondary;
                            }
                        }

                        & .label {
                            background-color: transparent;
                        }

                        & .label,
                        i.power.icon {
                            margin: 0 !important;
                            color: $color-primary-light;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}