@import '../../styles/variables';

#root {
    & .menu.sidebar {
        position: relative;
        visibility: visible;
        flex: .15 0;
        border: 0;
        margin: 0;
        min-width: 6rem;
        transition: flex .5s ease-out;
        overflow-y: visible !important;

        @include breakpoint(tablet) {
            max-width: 0;
            min-width: 0;
        }

        @include breakpoint(tablet_landscape) {
            flex: 0.25 1;
        }

        & .container {
            display: flex;
            height: 100%;
            flex: 1 0;
            margin: 0 !important;
            border: 0;
            background: #000046;
            background: -webkit-linear-gradient(to top, #1CB5E0, #000046);
            background: linear-gradient(to top, #1CB5E0, #000046);
            font-size: 1.6rem;
           

            @include breakpoint(tablet) {
                overflow-y: scroll;
                scrollbar-color: red !important;
                scroll-padding: 0;
                padding: 0;

                & :-webkit-scrollbar {
                    appearance: none !important;
                    height: 0;
                    width: 0;
                }
            }

            & .toggle-sidebar.button {
                position: fixed;
                z-index: 1;
                right: .5rem;
                top: .5rem;
                margin: 0;
                padding: 0;
                background-color: transparent;
                font-size: 3rem;
                color: rgba(255, 255, 255, 0.4);
                transition: color .1s ease-in;

                @include breakpoint(tablet) {
                    left: 5rem;
                }

                & .icon {
                    transition: all .1s ease-out;

                    @include breakpoint(tablet) {
                        z-index: 200;
                        margin-left: 5rem;
                        color: #fff;
                    }
                }
            }

            & *:not(.icon) {

                @include breakpoint(tablet) {
                    opacity: 1;
                }

            }

            & *:not(.icon) {
                transition: opacity .15s ease-in .3s;
                opacity: 1;
            }

            & .sidebar-header {
                display: flex;
                flex: .4 0;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                color: $color-primary-light;
                margin: 2rem auto;
                padding: 0;
                width: 100%;
                height: min-content;
                transition: opacity .2s ease-in .3s;

                & img {
                    max-width: 10vw;
                    max-height: 10vw;
                    margin-top: 10px;

                    @include breakpoint(tablet_landscape) {
                        max-width: 15rem;
                        max-height: 15rem;
                    }
                }

                & h3 {
                    margin: 0 auto 2rem 0;
                    font-size: 3rem;
                    color: rgba(255, 255, 255, 0.842);
                    border: 0;

                    @include breakpoint(tablet) {
                        margin: 0 auto;
                    }
                }
            }

            & a.link.item {
                align-self: stretch;
                color: #edf6f9;
                font-family: $font-serif;
                display: inline-flex;
                flex-direction: row-reverse;
                justify-content: flex-start;
                padding-right: 0;
                transition: color .05s ease-in, font-size .1s ease-in .4s;

                @include breakpoint(tablet) {
                    justify-content: center;
                    transition: color .05s ease-in;
                }

                &.admin {
                    white-space: nowrap;
                    color: red;

                    &.active,
                    &.active:hover {
                        color: red;
                    }

                    &:hover {
                        color: red;
                    }
                }

                &>* {
                    margin: 0;
                }

                & .icon {
                    flex: 0;
                    padding: 0 1rem;
                    transition: color .05s linear, font-size .15s ease-in .4s;
                    @include breakpoint(tablet) {
                      
                        transition: color .05s linear;
                    }
                }

                &.active,
                &.active:hover {
                    color: $color-primary-dark;
                    background-color: #edf6f9;
                    border-color: #edf6f9;
                }

                &:hover {
                    color: $color-detail;
                    background-color: $color-primary-dark;
                    border-color: $color-secondary-light;
                }
            }

            & :last-child {
                align-self: flex-start;
                margin: auto 0 5rem 0;
                width: 100%;
                padding: 0;
                border: 0;
                text-align: center;

                & .ui.dropdown {

                    &:hover,
                    &.active {
                        &>* {
                            color: $color-primary-light;
                            opacity: 1;
                        }
                    }

                    &>* {
                        color: $color-primary-dark;
                    }
                }

                & .text,
                .dropdown.icon {

                    opacity: 0.8;
                }

                & i {
                    margin: 0;
                }

                & .menu {
                    background-color: transparent;
                    margin: 1rem 0;
                    top: 0;
                    bottom: 0;
                    
                    & .item.logout {
                        margin: .5rem !important;
                        padding: 0;

                        &:hover {
                            background-color: transparent !important;

                            & .label,
                            i.power.icon {
                                color: $color-secondary-light;
                            }
                        }

                        & .label {
                            background-color: transparent;
                        }

                        & .label,
                        i.power.icon {
                            display: block;
                            margin: 0 auto !important;
                            color: $color-primary-light;
                            font-size: 1rem;
                            transition: color .1s linear;
                        }
                    }
                }
            }
        }

        &.off {
            flex: .01 0;
            min-width: 6rem;
            transition-duration: .3s;

            @include breakpoint(tablet) {
                max-width: unset;
                min-width: 0;
                width: 100% !important;
                flex: 1 0;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 90;
                
            }

            @include breakpoint(tablet_landscape) {
                flex: 0.07 0;
            }

            @include breakpoint(computer) {
                flex: 0.05 0;
            }

            & .container {
                & .toggle-sidebar.button {
                    color: #fff !important;

                    & .sidebar-header {

                        transition: opacity .1s ease-in;
                    }

                    & a.link.item {
                        color: white !important;
                    }
                }


                & .sidebar-header {
                    opacity: 0;
                    transition: opacity .1s ease-in;

                    @include breakpoint(tablet) {
                        opacity: 1;
                    }
                }

                & a.link.item {
                    color: transparent !important;
                    transition: color .1s ease-in, font-size .1s ease-in .4s !important;

                    @include breakpoint(tablet) {
                        color: #edf6f9 !important;
                        justify-content: center;
                        width: 40%;
                        justify-content: space-between;
                        align-self: center;
                        transition: font-size 0s;
                        &.active,
                        &.active:focus {
                            color: $color-primary-dark !important;
                            & .icon {
                                color: $color-primary-dark !important;
                            }
                            &:hover {
                                color: $color-primary-dark !important;
                            
                            }
                        }
                        &:focus,&:not(.active) {
                            color: #fff !important;
                            & .icon{
                                color:#fff !important;
                            }
                        }
                    }

                    & .icon {
                        font-size: 2rem;
                        color: #edf6f9;
                    }

                    &:hover,
                    &:focus,
                    &:active,
                    &.active {
                        color: transparent;

                        &:hover {
                            color: transparent;
                        }
                    }

                    &:hover {
                        & .icon {
                            color: $color-detail;
                        }
                    }

                    &.active,
                    &:active,
                    &:focus {
                        & .icon {
                            color: $color-primary-dark;
                        }
                    }
                }

                & :last-child {
                    & .menu{
                        box-shadow: none;
                    }
                    & .ui.dropdown {
                        & .text {
                            font-size: 1.2rem;

                            @include breakpoint(tablet) {
                                font-size: 1.5rem;
                            }
                        }

                        & .menu .item.logout {
                            font-size: 3rem;
                            margin: 4rem 0 !important;
                            padding: 0 !important;
                        }
                    }
                }
            }
        }
    }
}