@import '../../styles/variables';

.ui.vertical.menu.left.fixed {
    width: 15%;
    border: 0;

    @include breakpoint(tablet) {
        width: 150px;
    }

    @include breakpoint(smartphone) {
        width: 100px;
    }

    & .sideBar {
        background: linear-gradient(180deg, $color-primary-dark 60%, $color-primary-light 100%);
        height: 100%;
        display: flex;
        border: 0;
        font-size: 1.6rem;

        & :first-child {
            display: flex;
            flex: 1 0;
            max-height: 25%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: $color-primary-light;
            margin: 0;
            padding: 0;
            width: 100%;

            & img {
                max-width: 10vw;
                max-height: 10vw;
                margin-top: 10px;
            }

            & h3 {
                display: block;
                margin: 10px;
                font-size: 3rem;
                color: rgba(255, 255, 255, 0.842);
                border: 0;
            }
        }

        & a.link.item {
            width: 100%;
            color: #fff;
            &:last-of-type {
                justify-self: flex-end;
            }
            &.active,
            &.active:hover {
                color: $color-detail;
                background-color: #fff;
                border-color: $color-secondary-light;
            }

            &:hover {
                color: $color-detail;
                background-color: $color-primary-dark;
                border-color: $color-secondary-light;
            }
        }

        
    }
}