#root {
    & .wrapper {
        & .main-grid.tasks {
            & .list-col {
                flex: 1 0;
                height: -webkit-fill-available;
                overflow: scroll !important;
                padding: 0;

                @include breakpoint(tablet) {
                    margin: 1.5rem .5rem !important;
                }

                & table.ui.table.table-container.small.selectable.striped.task-list {
                    @include breakpoint(tablet) {
                        background-color: transparent;
                        border: 0 !important;
                        max-height: 55rem;
                        margin-bottom: 1rem;

                        & .head,
                        & tbody {
                            padding: 0 !important;
                            margin: .4rem !important;
                            @include reset-div;
                            box-shadow: 0 0 1px 0 #fff !important;
                            background: none;

                            & tr {
                                display: inline-flex !important;
                                width: 100% !important;
                                margin: .2rem 0;
                                padding: .5rem;
                                cursor: default;
                                box-shadow: 1px 1px 2px 0 #000 !important;

                                & th,
                                & td {
                                    flex: 1 0;
                                    background: transparent !important;
                                    vertical-align: middle;
                                    text-align: left;
                                    cursor: default;
                                    color: #fff;
                                    font-size: 1.6rem;
                                    min-width: 25% !important;
                                }

                                & :last-child {
                                    text-align: center;
                                }
                            }
                        }

                        & .head tr th {
                            margin: 0;
                            padding: 0 !important;

                        }

                        & tbody {
                            box-shadow: none !important;

                            & tr {
                                background: #fff !important;
                                cursor: pointer !important;

                                &.active {
                                    border: 0;
                                    background: #4b6cb7;
                                    background: -webkit-linear-gradient(to bottom, #455c8a, #4b6cb7) !important;
                                    background: linear-gradient(to bottom, #455c8a, #4b6cb7) !important;

                                    & td {
                                        color: #fff;
                                    }
                                }

                                & td {
                                    font-size: 1.5rem !important;
                                    color: $color-primary-dark;
                                    font-weight: $bold;
                                    padding: .5rem 0 !important;
                                    align-self: center !important;
                                    cursor: pointer;
                                    text-align: left !important;
                                }

                                & .notes-cell {
                                    display: none !important;
                                }

                                & .shared-with-cell {
                                    justify-content: flex-start;
                                    display: inline-flex !important;

                                    & i {
                                        display: block;
                                        margin: 0 auto !important;
                                        float: none !important;
                                    }
                                }
                            }
                        }
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    & .shared-with-cell {
                        justify-content: space-between;

                        & .refresh,
                        .check,
                        .ban {
                            float: left;
                            max-width: min-content;

                        }

                        & .refresh {
                            color: rgb(140, 140, 255);
                        }

                        & .check {
                            color: rgb(0, 150, 0);
                        }

                        & .ban {
                            color: red;
                        }
                    }

                    & .notes-cell,
                    .notes-cell-header,
                    .icon.button {
                        @include breakpoint(tablet) {
                            display: none !important;
                        }
                    }
                }
            }

            & .row-content-1,
            .row-content-2 {
                & .control-icons {

                    height: 100%;
                    align-items: center;
                    max-width: 8rem;

                    @include breakpoint(tablet) {
                        display: none;
                    }

                    &.mobile {
                        @include reset-div;
                        width: min-content;
                        margin-left: auto;
                        padding: 0;
                        display: none;
                        flex: 1 0;
                        min-width: 100%;
                        height: 4rem;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;

                        @include breakpoint(tablet) {
                            display: flex;
                        }

                        & .buttons {
                            padding-right: 4rem;
                            align-content: center;
                            justify-content: flex-end;
                            height: 100%;

                            & .button,
                            a, i {
                                max-width: 5rem !important;
                                position: relative !important;
                                justify-content: flex-end;
                                margin: 0 !important;
                                height: 3rem;
                                display: flex;

                                &.share,
                                &.mail,
                                &.pencil,
                                &.eraser {

                                    &.icon {
                                        padding: 0;
                                        vertical-align: middle !important;
                                        min-height: 100%;
                                        margin-right: 2rem !important;
                                    }

                                    &.icon:before {
                                        vertical-align: middle !important;
                                    }
                                }
                            }
                        }
                    }

                    & .icon {
                        font-size: 1.6rem;
                        float: right;
                        background-color: transparent;
                        padding: 0;
                        margin-right: 1rem;
                        transition: transform .1s ease-in;

                        &.status {
                            float: left;
                        }

                        &:hover.share,
                        &:hover.pencil,
                        &:hover.eraser {
                            transform: scale(1.2);
                            text-shadow: 0 0 2px $color-detail2, 0 0 4px #fff;

                            &:after {

                                content: '';
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                position: absolute;
                            }
                        }

                        &.share {
                            color: rgb(0, 150, 0);

                            &.disabled {
                                color: gray;
                            }
                        }

                        &.pencil {
                            color: rgb(230, 142, 61);
                        }

                        &.eraser {
                            color: red;
                        }

                        &.disabled>* {
                            color: gray;
                        }

                        &.ban {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}