#root {
    & .wrapper {
        & .tasks.row-content-1 {
            @include breakpoint(tablet) {
                min-height: 50% !important;
                
            }

            & .list-col {
                flex: 1 0;

                & table.ui.table.table-container.task-list {
                    @include breakpoint(tablet) {
                        display: flex;
                        flex-wrap: wrap;
                        background-color: transparent;
                        border: 0 !important;
                        padding: .2rem;
                        max-height: 50rem;

                        & .head,
                        & tbody {
                            flex: 1 0;
                            padding: 0 !important;
                            margin: .4rem !important;
                            @include reset-div;
                            display: flex;
                            align-items: stretch;
                            max-width: 15rem;
                            min-height: 15rem !important;
                            justify-items: stretch;
                            box-shadow: 0 0 1px 0 #fff !important;

                            & tr {
                                flex: 1 0;
                                display: flex !important;
                                min-width: 12rem !important;
                                height: 100% !important;
                                padding: 0 !important;
                                flex-direction: column;
                                justify-content: space-evenly !important;
                                background-image: radial-gradient(circle farthest-corner at 85.4% 50.8%, rgba(14, 72, 222, 1) 0%, rgba(3, 22, 65, 1) 74.2%) !important;
                                cursor: default;

                                & th,
                                & td {
                                    // height: min-content !important;
                                    flex: 1 0;
                                    max-width: 100% !important;
                                    background: transparent !important;
                                    vertical-align: middle;
                                    justify-items: center;
                                    text-align: center;
                                    cursor: default;
                                    color: #fff;
                                    font-size: 1.6rem !important;
                                }


                            }

                        }

                        & tbody {

                            & tr {
                                background: #8e9eab !important;
                                background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab) !important;
                                background: linear-gradient(to right, #eef2f3, #8e9eab) !important;

                                box-shadow: 0 0 1px 1px #fff !important;
                                // border-radius: 2px;
                                cursor: pointer !important;

                                &.active {
                                    transform: scale(0.98);
                                    transition: transform .1s ease-out, box-shadow .3s ease-out, padding .1s ease-out;
                                    box-shadow: 0 0 2px 2px #fff !important;
                                    // border: thin solid #000 !important;
                                    background-color: #485461;
                                    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%) !important;

                                    & td {
                                        color: #fff;
                                    }



                                }

                                & td {
                                    font-size: 1.5rem !important;
                                    color: $color-primary-dark;
                                    font-weight: $bold;
                                    padding: .5rem 0 !important;
                                    align-self: center !important;
                                    cursor: pointer;

                                }
                            }
                        }
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    & .shared-with-cell {
                        justify-content: space-between;

                        & .refresh,
                        .check,
                        .ban {
                            float: right;
                            max-width: min-content;

                        }

                        & .refresh {
                            color: rgb(140, 140, 255);
                        }

                        & .check {
                            color: rgb(0, 150, 0);
                        }

                        & .ban {
                            color: red;
                        }
                    }

                    & .notes-cell {
                        max-width: 12rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    & .control-icons {

                        height: 100%;
                        align-items: center;
                        max-width: 8rem;

                        & .icon {
                            font-size: 1.6rem;
                            float: right;
                            background-color: transparent;
                            padding: 0;
                            margin-right: 1rem;
                            transition: transform .1s ease-in;

                            &.status {
                                float: left !important;
                            }

                            &:hover.share,
                            &:hover.pencil,
                            &:hover.eraser {
                                transform: scale(1.2);
                                text-shadow: 0 0 2px $color-detail2, 0 0 4px #fff;

                                &:after {

                                    content: '';
                                    top: 0;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    position: absolute;


                                }
                            }

                            &.share {
                                color: rgb(0, 150, 0);

                                &.disabled {
                                    color: gray;
                                }
                            }

                            &.pencil {
                                color: rgb(230, 142, 61);
                            }

                            &.eraser {
                                color: red;
                            }

                            &.disabled>* {
                                color: gray;
                            }

                            &.ban {
                                color: red;
                            }

                        }
                    }

                    & .notes-cell,
                    .notes-cell-header,
                    .icon.button {
                        @include breakpoint(tablet) {
                            display: none !important;
                        }
                    }
                }
            }
        }
    }
}