#root {
    & .minor-header {
        // background: #000428;  /* fallback for old browsers */
        // background: -webkit-linear-gradient(to left, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
        // background: linear-gradient(to left, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        background-image: linear-gradient( 270deg,  rgba(5,111,146,1) 5%, rgba(6,57,84,1) 95% );
        @include reset-div;
        padding: 1.5rem 2rem;
        width: 100%;
        // border: thin solid #fff;
        border-bottom:none;
        // border-bottom: .3rem inset l#182848, #4b6cb7);
        height: max-content;
        max-height: 6rem;
        box-shadow: 0 1px 3px 0 #000;
        z-index: 1;
        & .header {
            font-size: 2.2rem;
            color: #fff;
            margin: 0;
            
        }

        & .button {
            position: absolute;
            top: -.5rem;
            right: -.5rem;
            z-index: 1;
            font-size: 1.5rem;
            background-color: transparent;
            color: $color7;
            transition:text-shadow .12s ease-in, color .12s ease-in;
            &:hover {
                color:$color-secondary;
                text-shadow: 0 0 5px #fff;
            }
        }
    }
}