#root {
    & .minor-header {
        background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,52,89,1) 0%, rgba(0,168,232,1) 90% );
        @include reset-div;
        padding: 1rem 2rem;
        width: 100%;
        border-bottom:none;
        height: max-content;
        max-height: 6rem;
        box-shadow: 0 1px 3px 0 #000;
        z-index: 1;
        & .header {
            font-size: 1.8rem;
            color: #fff;
            margin: 0;
            
        }

        & .button {
            position: absolute;
            top: -.5rem;
            right: -.5rem;
            z-index: 1;
            font-size: 1.5rem;
            background-color: transparent;
            color: $color7;
            transition:text-shadow .12s ease-in, color .12s ease-in;
            &:hover {
                color:$color-secondary;
                text-shadow: 0 0 5px #fff;
            }
        }
    }
}