#root {
    & .wrapper .main-grid {
        & .topbar .pendingBtn {
            color: black;
            position: relative;

            &:hover {
                & div {
                    color: #fff;
                }
            }

            & div {
                position: relative;
                padding: 1rem;

                & .count {
                    margin-top: .3rem;
                    padding: .05rem .25rem;
                    top: 0;
                    right: 0;
                    font-size: 1rem;
                    // left:95%;
                    // height: .1rem;
                    // width: .1rem;
                    display: flex;
                    position: absolute;
                    z-index: 5;
                    background-color: red;
                    border-radius: 100%;
                    border: thin solid #fff;
                    justify-content: center;

                    & span {
                        align-self: center;
                    }

                    @include breakpoint(tablet) {
                        font-size: 1.3rem;
                    }
                }
            }
        }

        & .tasks.row-content {


            &-1 {
                justify-content: center;
                border: 0;
                box-shadow: none;
                padding-bottom: 2rem;

                @include breakpoint(tablet) {
                    min-height: min-content !important;
                }

                & .list-col {
                    padding:0;
                    & .filter-buttons {
                        justify-content: flex-start;
                        width: 100%;

                        @include breakpoint(tablet) {
                            flex-wrap: wrap;
                            padding: .5rem 0;

                            & .buttons {
                                margin: .5rem auto;
                                border: thin solid #fff;
                                border-radius: 5px;

                                & .button,
                                .label {
                                    border-radius: 0;
                                    padding: .5rem;
                                }
                            }
                        }

                        & .buttons {
                            align-items: center;

                            & .button,
                            .label {
                                font-size: 1.4rem;
                                padding: .2rem .5rem;
                            }
                        }
                    }

                    & .task.list {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}