#root {
    & .wrapper .main-grid {
        & .topbar .pendingBtn {
            color: black;
            position: relative;

            &:hover {
                & div {
                    color: #fff;
                }
            }

            & div {
                position: relative;
                padding: 1rem;

                & .count {
                    margin-top: .3rem;
                    padding: .05rem .25rem;
                    top: 0;
                    right: 0;
                    font-size: 1rem;
                    display: flex;
                    position: absolute;
                    z-index: 5;
                    background-color: red;
                    border-radius: 100%;
                    border: thin solid #fff;
                    justify-content: center;

                    & span {
                        align-self: center;
                    }

                    @include breakpoint(tablet) {
                        font-size: 1.3rem;
                    }
                }
            }
        }

        & .tasks.row-content {
            &-1 {
                justify-content: center;

                @include breakpoint(tablet) {
                    min-height: min-content !important;
                }

                & .list-col {
                    padding: 0;

                    & .ui.segment.filter-buttons {
                        flex-grow: 0;
                        justify-content: flex-start;
                        @include breakpoint(tablet) {
                            flex-wrap: wrap;
                            justify-content: center;
                            & .buttons {
                                & .button,
                                .label {
                                    border-radius: 0;
                                    padding: .5rem;
                                }
                            }
                        }

                        & .buttons {
                            align-items: center;
                            padding:0 2rem;
                            & .button,
                            .label {
                                font-size: 1.4rem;
                                padding: .2rem .5rem;
                                &.active{
                                    border-radius: 3px;
                                }
                            }
                            & .ui.button{
                                cursor: pointer;
                            }
                        }
                    }

                    & .task.list {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}