#root {
    & .wrapper .main-grid.tasks {
        & .topbar .pendingBtn {
            color: black;
            position: relative;

            &:hover {
                & div {
                    color: #fff;
                }
            }

            & div {
                position: relative;
                padding: 1rem;

                & .count {
                    margin-top: .3rem;
                    padding: .05rem .25rem;
                    top: 0;
                    right: 0;
                    font-size: 1rem;
                    display: flex;
                    position: absolute;
                    z-index: 5;
                    background-color: red;
                    border-radius: 100%;
                    border: thin solid #fff;
                    justify-content: center;

                    & span {
                        align-self: center;
                    }

                    @include breakpoint(tablet) {
                        font-size: 1.3rem;
                    }
                }
            }
        }

        & .row-content {
            &-1 {
                justify-content: flex-start;
                overflow: hidden;
                max-height: 55rem;
                align-items: stretch;
                position: relative;

                @include breakpoint(tablet) {
                    margin-bottom: 0 !important;
                }

                & .ui.segment.filter-buttons {
                    flex-grow: 0;
                    justify-content: flex-start;
                    @include breakpoint(tablet) {
                        flex-wrap: wrap;
                        justify-content: flex-start;

                        & .buttons {
                            padding: 0 !important;
                            justify-content: flex-start !important;

                            & .button,
                            .label {
                                border-radius: 0;
                                padding: .5rem;
                            }
                        }
                    }

                    & .buttons {
                        align-items: center;
                        padding: 0 2rem;

                        & .button,
                        .label {
                            font-size: 1.4rem;
                            padding: .2rem .5rem;

                            &.active {
                                border-radius: 3px;
                            }
                        }

                        & .ui.button {
                            cursor: pointer;
                        }
                    }

                    & .pagination {
                        width: min-content;
                        align-items: center;

                        & .button {
                            background-color: transparent;
                            font-size: 1rem;
                            color: #000;
                            padding: 0;

                            &:focus,
                            &:active,
                            & .chevron:active,
                            & .chevron:before {
                                background-color: transparent !important;
                            }

                            & .chevron {
                                font-size: 1.2rem;
                            }
                        }

                        & span {
                            font-size: 1.2rem;
                        }
                    }
                }

                & .task-list {
                    font-size: 1.2rem;
                }
            }

            &-2 {
                min-height: unset !important;
                align-items: stretch;
                flex: .5 0 10rem !important;
                padding-bottom: 1rem !important;
            }
        }
    }
}