@import 'mixins';
@import 'variables';

* {
    font-family: $font-sans;
}

html {
    font-size: 62.5%;
    height: 100vh;

    @include breakpoint(smartphone) {
        font-size: 44%;
    }

    @include breakpoint(tablet) {
        font-size: 50%;
    }

    @include breakpoint(tablet_landscape) {
        font-size: 55%;
    }

    @include breakpoint(bigdesktop) {
        font-size: 75%;
    }

    @include breakpoint(xxl) {
        font-size: 150%;
    }

}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    & ::-webkit-scrollbar {
        display: none;
    }

    & .ui.page.modals.dimmer.transition {
        background: hsla(207, 51%, 83%, 1);

        background: radial-gradient(circle, hsla(207, 51%, 83%, 1) 25%, hsla(194, 100%, 12%, 0.5) 100%);

        background: -moz-radial-gradient(circle, hsla(207, 51%, 83%, 1) 25%, hsla(194, 100%, 12%, 0.5) 100%);

        background: -webkit-radial-gradient(circle, hsla(207, 51%, 83%, 1) 25%, hsla(194, 100%, 12%, 0.5) 100%);

        & .modal {
            width: 40%;
            padding: .1rem;
            background-color: $color11;

            @include breakpoint(smartphone) {
                width: 90%;
            }

            & .content {
                background-color: $color-primary-dark;

                & .clearing.segment {
                    @include reset-div;
                    background-color: $color-primary-dark;

                    & .big.form {

                        & .field {

                            & input,
                            & textarea {
                                background-color: #fff;
                                font-size: 1.4rem;

                                &::placeholder {
                                    color: rgba(0, 0, 0, 0.6);
                                }
                            }

                            & .selection {
                                & .visible.menu {
                                    min-height: min-content;
                                    overflow-y: unset;
                                    overflow-x: unset;

                                    & .item {
                                        background-color: $color9;
                                        font-size: 1.2rem;

                                        &:hover {
                                            & .text {
                                                color: $color4;
                                            }
                                        }
                                    }
                                }

                                background-color: $color9;
                                opacity:0.7;
                                color:#fff;

                                &.active {
                                    opacity: 1;

                                    & .text {
                                        color: #fff;
                                    }
                                }
                            }
                        }

                        & .button {
                            opacity: 0.7;

                            &:hover {
                                opacity: 1;
                            }

                            &.positive {
                                background-color: #008000;
                            }

                            &.negative {
                                background-color: #9d0208;

                            }
                        }
                    }
                }
            }
        }
    }
}

#root {
    display: flex;
    height: 100vh;

    & .ui.container.wrapper {
        margin: 0 !important;
        height: inherit;
        flex: 1 0;
        background-color: #2f5792;

        & .grid.main-grid {
            height: inherit;
            padding: 0;
            margin: 0;
            overflow-y: scroll;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-content: baseline;

            &::-webkit-scrollbar {
                display: none;
            }

            & .buttons-row {
                position: relative;
                height: 3.5rem;
                justify-content: flex-end;
                align-items: stretch;
                padding: 0;
                border-bottom: 1px solid $color-primary-dark;
                position: sticky;
                background: rgb(10,17,40);
background: linear-gradient(180deg, rgba(83,98,106,0.8) 0%, rgba(10,17,40,0.75) 60%, rgba(10,17,40,1) 100%, rgba(83,98,106,0.85) 100%);

                &.expanded {

                    flex-direction: column;

                    & .button:not(:last-child) {
                        padding: 2rem 0;
                        font-size: 1.5rem;
                        display: initial;
                    }

                    & .expand-menu .icon {
                        transform: rotate(180deg);
                    }
                }

                @include breakpoint(tablet) {
                    min-height: 3.5rem;
                    height: min-content;
                    background-color: $color-primary-dark;
                }

                & .button {
                    font-weight: $bold;
                    font-size: 1.2rem;
                    margin: 0 .4rem;
                    color: #fff;
                    background-color: transparent;
                    padding: 0 2rem;
                    border-radius: 0;

                    &.expand-menu {
                        display: none;
                        font-size: 4rem;
                        color: $color-detail;
                    }

                    @include breakpoint(tablet) {
                        display: none;
                        color: #fff;
                        font-size: 1.4rem;

                        &.expand-menu {
                            display: initial;

                            & i {
                                color: #fff;
                            }
                        }
                    }

                    @include breakpoint(smartphone) {
                        padding: .2rem;
                        margin: 0;

                        &.expand-menu {
                            display: initial;
                            left: 60%;
                        }
                    }

                    &:hover {
                        color: #ff5a5f;
                    }
                }

            }

            & .row-content-1 {
                width: 100%;
                min-height: 40%;
                max-height: 50%;
                margin: 0;
                overflow: hidden;

                @include breakpoint(tablet) {
                    min-height: 30rem;
                    margin:2rem 0 4rem 0;
                }

                & .column {
                    max-height: 100%;
                    position: relative;
                    overflow: auto;

                    & table.ui.table.table-container {
                        border: thin solid $color-primary-dark;
                        min-width: min-content;

                        &>* {
                            border: none;
                        }

                        & .head {
                            @include table-head;
                        }

                        & tbody {


                            &:nth-child(odd) {
                                background-color: $color-primary-light;
                            }

                            & tr {

                                &:hover {
                                    background-color: rgba($color-primary-dark, 0.6) !important;
                                    color: #fff !important;
                                }

                                &.active {
                                    background-color: rgba($color-primary-dark, 0.9) !important;
                                    color: $color-detail2 !important;

                                    &:hover {
                                        background-color: $color-primary-dark !important;
                                    }
                                }

                                & td {
                                    border: none;
                                    white-space: nowrap;
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }

                    & .list {
                        background-color: transparent;
                        margin: 0;
                        padding: 0;
                        width: 100%;
                        overflow-y: scroll;
                        position: relative;

                        &::-webkit-scrollbar {
                            display: none;
                        }
                    }
                }
            }

            & .row-content-2 {
                margin: 0;
                padding: 0;
                justify-content: space-between;
                width: 100%;

                & .column {
                    max-height: 100%;
                    width: auto;

                    & .details {
                        height: auto;
                        width: auto;
                    }
                }
            }
        }
    }

    & .clearing.segment {
        @include reset-div;
    }

}