@import 'mixins';
@import 'variables';

* {
    font-family: $font-sans;
}

//////
//
// Base styles shared among sections 
//
//////

html {
    font-size: 62.5%;
    min-height: unset !important;
    height: 100% !important;

    @include breakpoint(smartphone) {
        font-size: 44%;
    }

    @include breakpoint(tablet) {
        font-size: 50%;
    }

    @include breakpoint(tablet_landscape) {
        font-size: 55%;
    }

    @include breakpoint(bigdesktop) {
        font-size: 75%;
    }

    @include breakpoint(xxl) {
        font-size: 150%;
    }

}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // min-height: 100%;

    //turn off scrollbars
    & * ::-webkit-scrollbar {
        scrollbar-width: none;
        display: none;
    }
    & *  {
        scrollbar-width: none;
        // display: none;
    }
}

#root {
    display: flex;
    min-height: 100% !important;

    & .ui.container.wrapper {
        margin: 0 !important;
        width: unset !important;
        min-height: 100% !important;
        flex: 1 0;
        background: #4b6cb7;
        background: -webkit-linear-gradient(to bottom, #182848, #4b6cb7);
        background: linear-gradient(to bottom, #182848, #4b6cb7);

        & .grid.main-grid {
            min-height: 100% !important;
            height: min-content !important;
            padding: 0;
            margin: 0;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: baseline;
            flex-wrap: nowrap;
            &::-webkit-scrollbar {
                display: none;
            }

            & .topbar {
                position: relative;
                flex-direction: row;
                height: 3.5rem;
                justify-content: flex-end;
                align-items: stretch;
                padding: 0;
                border-bottom: 1px solid #fff;
                position: sticky;
                z-index: 10;

                @include breakpoint(tablet) {
                    position: fixed;
                    min-height: 5rem !important;
                    max-height: min-content;
                    background-image: linear-gradient(109.6deg, rgba(36, 45, 57, 1) 11.2%, rgba(16, 37, 60, 1) 51.2%, rgba(0, 0, 0, 1) 98.6%);

                }

                &.expanded {

                    flex-direction: column;
                    align-items: center;

                    & .button:not(:last-child) {
                        padding: 2rem 0;
                        font-size: 1.5rem;
                        display: initial;
                    }

                    & .expand-menu .icon {
                        transform: rotate(180deg);
                    }
                }

                @include breakpoint(tablet) {
                    min-height: 3.5rem;
                    height: min-content;
                    background-color: $color-primary-dark;
                }

                & .button {
                    font-weight: $bold;
                    font-size: 1.2rem;
                    margin: 0 .4rem;
                    color: #fff;
                    background-color: transparent;
                    padding: 0 2rem;
                    border-radius: 0;

                    & div {
                        color: #fff;
                    }

                    &.expand-menu {
                        display: none;
                        font-size: 4rem;
                        color: $color-detail;
                    }

                    @include breakpoint(tablet) {
                        display: none;
                        color: #fff;
                        font-size: 1.4rem;

                        &.expand-menu {
                            display: initial;

                            & i {
                                color: #fff;
                            }
                        }
                    }

                    @include breakpoint(smartphone) {
                        padding: .2rem;
                        margin: 0;

                        &.expand-menu {
                            display: initial;
                            left: 60%;
                        }
                    }

                    &:hover {
                        color: #ff5a5f;
                    }
                }
            }

            & .row-content-1 {
                width: 100%;
                flex: 1 0;
                margin: 0;
                box-shadow: none;
                border: 0;
                padding: 2rem 0;
                align-content: flex-start;
                @include breakpoint(tablet) {
                    min-height: 30rem;
                    max-height: min-content;
                    margin: 2rem 0 4rem 0;
                }

                & .filter-buttons,
                & .list {
                    @include reset-div;
                    background-color: transparent;
                }

                & .filter-buttons {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    align-items: center;
                    height: 4rem;
                    border: 0;
                    border-radius: 0;
                    padding: 0 .5rem;
                    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);

                    @include breakpoint(tablet) {
                        justify-content: space-between;
                        height: 7rem !important;
                        // padding:1rem .5rem;
                        margin-top: 1rem;
                    }

                    @include breakpoint(smartphone) {
                        justify-content: center;
                    }

                    & .buttons {
                        display: flex;
                        flex-wrap: wrap;
                        width: max-content;
                        height: max-content;
                        margin-right: .5rem;
                        align-content: center;
                        white-space: wrap;
                        overflow: visible;
                        border: 0;
                        box-shadow: none;



                        & .button.small,
                        & .label,
                        a {
                            @include reset-div;
                            padding: .3rem 1rem;
                            font-size: 1.3rem;
                            color: $color-primary-dark;
                            border: none !important;
                            box-shadow: none !important;
                            cursor: pointer;
                            background-color: transparent !important;
                            border-radius: 3px;


                            &:hover:not(.label):not(.active) {
                                box-shadow: none !important;
                                background-color: $color-primary-dark !important;
                                opacity: .7;
                                color: #fff;
                            }

                            &:focus {
                                background-color: transparent !important;
                            }

                            &.active {
                                color: #fff;
                                background-color: $color-primary-dark !important;
                                opacity: 1;
                            }


                            &.active:hover {
                                opacity: 1;
                            }

                            &:first-child {
                                cursor: default;
                            }

                            @include breakpoint(tablet) {}

                            @include breakpoint(tablet) {
                                padding: .5rem .3rem !important;
                                margin: 0 .2rem !important;
                                font-size: 1.4rem !important;

                                &:hover {
                                    border-radius: 3px;
                                }
                            }

                        }

                        & .label {
                            font-size: 1.3rem;
                            cursor: default;

                            @include breakpoint(tablet) {
                                padding: 0 !important;
                                margin: auto .2rem auto 0 !important;
                            }
                        }

                        & .button {
                            font-size: 1.4rem;
                            margin: 0 1rem;
                            cursor: pointer;
                            opacity: 0.7;

                            &:focus {
                                background-color: #fff !important;
                                color: unset;
                            }
                        }
                    }

                    & .pagination {
                        width: max-content !important;

                    }

                    & .filter-input {
                        width: 25%;
                        margin-left: auto;

                        @include breakpoint(smartphone) {
                            flex: .8 0;
                            min-width: 30%;
                            margin: 0 auto;
                            overflow: hidden;

                        }

                        & .label {
                            padding: 0;
                            margin-right: .5rem;
                            align-self: center;
                            background-color: transparent;
                            color: $color-primary-dark;
                            font-weight: $light;
                            font-size: 1.7rem;

                            @include breakpoint(tablet) {

                                font-size: 1.4rem;

                            }

                        }

                        & input {
                            padding-top: .4rem;
                            padding-bottom: .4rem;
                            border-radius: 1rem;
                            font-size: 1.3rem;
                            width: 50%;
                            border: 2px inset $color-secondary-dark;
                        }
                    }
                }

                & table.ui.table.table-container {
                    border: thin solid $color-primary-dark;
                    min-width: min-content;
                    cursor: pointer;

                    &>* {
                        border: none;
                    }

                    & .head {
                        @include table-head;
                    }

                    & tbody {


                        &:nth-child(odd) {
                            background-color: $color-primary-light;
                        }

                        & tr {

                            &:hover {
                                background-color: rgba($color-primary-dark, 0.6) !important;
                                color: #fff !important;
                            }

                            &.active {
                                background-color: rgba($color-primary-dark, 0.9) !important;
                                color: $color-detail2 !important;

                                &:hover {
                                    background-color: $color-primary-dark !important;
                                }
                            }

                            & td {

                                border: none;
                                white-space: nowrap;
                                font-size: 1.2rem;
                                overflow: hidden;

                            }

                            & .notes-cell {
                                max-width: 12rem;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }

                & .list {
                    background-color: transparent;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    overflow-y: scroll;
                    position: relative;
                }
            }

            & .row-content-2 {
                flex: 1 0;
                margin: 2rem 0 0 0;
                padding: 0;
                justify-content: space-between;
                width: 100%;

                & .column {
                    max-height: 100%;
                    width: auto;

                    & .details {
                        height: auto;
                        width: auto;
                    }
                }
            }
        }
    }

    & .clearing.segment {
        @include reset-div;
    }

}