@import 'mixins';
@import 'variables';

* {
    font-family: $font-sans;
}

//////
//
// Base styles shared among sections 
//
//////

html {
    font-size: 62.5%;
    height: 100vh;

    @include breakpoint(smartphone) {
        font-size: 44%;
    }

    @include breakpoint(tablet) {
        font-size: 50%;
    }

    @include breakpoint(tablet_landscape) {
        font-size: 55%;
    }

    @include breakpoint(bigdesktop) {
        font-size: 75%;
    }

    @include breakpoint(xxl) {
        font-size: 150%;
    }

}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
    //turn off scrollbars
    & * ::-webkit-scrollbar {
        scrollbar-width: none;
        display: none;
    }

    & .ui.page.modals.dimmer.transition {
        background: hsla(207, 51%, 83%, 1);

        background: radial-gradient(circle, hsla(207, 51%, 83%, 1) 25%, hsla(194, 100%, 12%, 0.5) 100%);

        background: -moz-radial-gradient(circle, hsla(207, 51%, 83%, 1) 25%, hsla(194, 100%, 12%, 0.5) 100%);

        background: -webkit-radial-gradient(circle, hsla(207, 51%, 83%, 1) 25%, hsla(194, 100%, 12%, 0.5) 100%);

        & .modal {
            width: 40%;
            padding: .1rem;
            box-shadow: 1px 1px 3px 1px #000 !important;

            @include breakpoint(smartphone) {
                width: 90%;
            }

            @include breakpoint(tablet) {
                width: 70%;
            }

            & .content {
                background-image: linear-gradient(to top, #09203f 0%, #537895 100%);

                & .clearing.segment {
                    @include reset-div;
                    background: transparent;

                    & .big.form {
                        & .field {

                            & input,
                            & textarea {
                                background-color: #fff;
                                font-size: 1.4rem;

                                &::placeholder {
                                    color: rgba(0, 0, 0, 0.6);
                                }
                            }

                            & .selection {
                                & .visible.menu {
                                    min-height: min-content;
                                    overflow-y: unset;
                                    overflow-x: unset;

                                    & .item {
                                        background-color: $color9;
                                        font-size: 1.2rem;

                                        &:hover {
                                            & .text {
                                                color: $color4;
                                            }
                                        }
                                    }
                                }

                                background-color: $color9;
                                opacity:0.7;
                                color:#fff;

                                &.active {
                                    opacity: 1;

                                    & .text {
                                        color: #fff;
                                    }
                                }
                            }

                            &.error {
                                position: relative;
                                opacity: 1;

                                & .label {
                                    position: absolute;
                                    right: 5rem;
                                    margin: 5px 0;
                                    border: 0;
                                    white-space: nowrap;
                                    font-size: 1.3rem;
                                }
                            }
                        }

                        & .button {
                            opacity: 0.7;
                            font-size: 1.5rem;
                            padding: .5rem;
                            transition: all .1s linear;

                            &:hover {
                                opacity: 1;
                            }

                            &.positive {
                                background-color: #fff;
                                color: green;

                                border: 0 !important;

                                &:hover {
                                    color: #fff;
                                    background-image: linear-gradient(179.1deg, rgba(43, 170, 96, 1) 2.3%, rgba(129, 204, 104, 1) 98.3%);
                                }
                            }

                            &.negative {
                                background-color: #fff;
                                color: red;
                                border: 0 !important;

                                &:hover {
                                    color: #fff;
                                    background-image: radial-gradient(circle farthest-corner at 81.9% 53.5%, rgba(173, 53, 53, 1) 16.3%, rgba(240, 60, 60, 1) 100.2%);
                                }
                            }
                        }
                    }
                }
            }

            //confirmation modal
            &.confirmation {
                background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
                border: 2px ridge #fff;

                @include breakpoint(smartphone) {
                    width: 98%;
                }

                & .header,
                .actions {
                    border: 0;
                }

                & .header {
                    text-align: left;
                    margin: 1rem 0 0 1rem;
                }

                & .content {
                    background-image: none;
                    font-size: 1.4rem;
                    border: 0;
                    border-top: thin $color-primary-light;
                    border-style: groove;
                }

                & .form {
                    display: inline-block;
                    width: 100%;

                    &>* {
                        cursor: default;
                    }

                    & .save,
                    .keep {
                        width: 100%;
                        display: block;
                        margin: 1rem;

                        // align-content: center;
                        & .fields {
                            margin-left: 2rem;
                        }
                    }

                    & .radio-label {
                        float: right;
                    }

                    & .field.yes,
                    & .field.no {
                        & input {
                            cursor: pointer;
                        }
                    }

                    & .label {
                        background-color: transparent;
                        color: #fff;
                        font-size: 1.2rem;
                        padding: 0;
                        margin: 1rem;
                    }

                    & .field {
                        width: min-content;
                        float: left;
                        margin: auto 0;
                    }
                }

            }
        }
    }
}

#root {
    display: flex;
    height: 100vh;

    & .ui.container.wrapper {
        margin: 0 !important;
        width: unset !important;
        height: inherit;
        flex: 1 0;
        background: #4b6cb7;
        background: -webkit-linear-gradient(to bottom, #182848, #4b6cb7);
        background: linear-gradient(to bottom, #182848, #4b6cb7);

        & .grid.main-grid {
            height: inherit;
            padding: 0;
            margin: 0;
            overflow-y: scroll;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-content: baseline;

            &::-webkit-scrollbar {
                display: none;
            }

            & .topbar {
                position: relative;
                flex-direction: row;
                height: 3.5rem;
                justify-content: flex-end;
                align-items: stretch;
                padding: 0;
                border-bottom: 1px solid #fff;
                position: sticky;
                z-index: 10;

                @include breakpoint(tablet) {
                    position: fixed;
                    background: #000046;
                    background: -webkit-linear-gradient(to right, #000046, #101099, #000046);
                    background: linear-gradient(to right, #000046, #101099, #000046);

                }

                &.expanded {

                    flex-direction: column;
                    align-items: center;

                    & .button:not(:last-child) {
                        padding: 2rem 0;
                        font-size: 1.5rem;
                        display: initial;
                    }

                    & .expand-menu .icon {
                        transform: rotate(180deg);
                    }
                }

                @include breakpoint(tablet) {
                    min-height: 3.5rem;
                    height: min-content;
                    background-color: $color-primary-dark;
                }

                & .button {
                    font-weight: $bold;
                    font-size: 1.2rem;
                    margin: 0 .4rem;
                    color: #fff;
                    background-color: transparent;
                    padding: 0 2rem;
                    border-radius: 0;

                    & div {
                        color: #fff;
                    }

                    &.expand-menu {
                        display: none;
                        font-size: 4rem;
                        color: $color-detail;
                    }

                    @include breakpoint(tablet) {
                        display: none;
                        color: #fff;
                        font-size: 1.4rem;

                        &.expand-menu {
                            display: initial;

                            & i {
                                color: #fff;
                            }
                        }
                    }

                    @include breakpoint(smartphone) {
                        padding: .2rem;
                        margin: 0;

                        &.expand-menu {
                            display: initial;
                            left: 60%;
                        }
                    }

                    &:hover {
                        color: #ff5a5f;
                    }
                }

            }

            & .row-content-1 {
                width: 100%;
                min-height: 40%;
                max-height: 50%;
                margin: 0;
                overflow: hidden;
                box-shadow: none;
                border: 0;
                padding: 2rem 0;

                @include breakpoint(tablet) {
                    min-height: 30rem;
                    max-height: min-content;
                    margin: 2rem 0 4rem 0;
                }

                & .filter-buttons,
                & .list {
                    @include reset-div;
                    background-color: transparent;
                }

                & .filter-buttons {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    align-items: center;
                    height: 4rem;
                    border: 0;
                    border-radius: 0;
                    padding: 0 .5rem;
                    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);

                    @include breakpoint(tablet) {
                        justify-content: space-between;
                        height: 7rem !important;
                    }

                    @include breakpoint(smartphone) {
                        justify-content: center;
                    }




                    & .buttons {
                        display: flex;
                        flex-wrap: wrap;
                        width: max-content;
                        height: max-content;
                        margin-right: .5rem;
                        align-content: center;
                        white-space: wrap;
                        overflow: visible;
                        border: 0;
                        box-shadow: none;



                        & .button.small,
                        & .label,
                        a {
                            @include reset-div;
                            padding: .3rem 1rem;
                            font-size: 1.3rem;
                            color: $color-primary-dark;
                            border: none !important;
                            box-shadow: none !important;
                            cursor: pointer;
                            background-color: transparent !important;
                            border-radius: 3px;


                            &:hover:not(.label):not(.active) {
                                box-shadow: none !important;
                                background-color: $color-primary-dark !important;
                                opacity: .7;
                                color: #fff;
                            }

                            &:focus {
                                background-color: transparent !important;
                            }

                            &.active {
                                color: #fff;
                                background-color: $color-primary-dark !important;
                                opacity: 1;
                            }


                            &.active:hover {
                                opacity: 1;
                            }

                            &:first-child {
                                cursor: default;
                            }

                            @include breakpoint(tablet) {}

                            @include breakpoint(tablet) {
                                padding: .5rem .3rem !important;
                                margin: 0 .2rem !important;
                                font-size: 1.4rem !important;

                                &:hover {
                                    border-radius: 3px;
                                }
                            }

                        }

                        & .label {
                            font-size: 1.3rem;
                            cursor: default;
                            @include breakpoint(tablet) {
                                padding:0 !important;
                                margin: auto .2rem auto 0  !important;
                            }
                        }

                        & .button {
                            font-size: 1.4rem;
                            margin: 0 1rem;
                            cursor: pointer;
                            opacity: 0.7;

                            &:focus {
                                background-color: #fff !important;
                                color: unset;
                            }
                        }
                    }

                    & .pagination {
                        width: max-content !important;

                    }

                    & .filter-input {
                        width: 25%;
                        margin-left: auto;

                        @include breakpoint(smartphone) {
                            flex: .8 0;
                            min-width: 30%;
                            margin: 0 auto;
                            overflow: hidden;

                        }

                        // @include breakpoint(tablet) {
                        //     justify-content: center;

                        // }

                        & .label {
                            padding: 0;
                            margin-right: .5rem;
                            align-self: center;
                            background-color: transparent;
                            color: $color-primary-dark;
                            font-weight: $light;
                            font-size: 1.7rem;

                            @include breakpoint(tablet) {

                                font-size: 1.4rem;

                            }

                        }

                        & input {
                            padding-top: .4rem;
                            padding-bottom: .4rem;
                            border-radius: 1rem;
                            font-size: 1.3rem;
                            width: 50%;
                            border: 2px inset $color-secondary-dark;
                        }
                    }
                }

                // & .column {
                //     max-height: 100%;
                //     position: relative;

                & table.ui.table.table-container {
                    border: thin solid $color-primary-dark;
                    min-width: min-content;
                    // overflow: scroll;
                    cursor: pointer;

                    &>* {
                        border: none;
                    }

                    & .head {
                        @include table-head;
                    }

                    & tbody {


                        &:nth-child(odd) {
                            background-color: $color-primary-light;
                        }

                        & tr {

                            &:hover {
                                background-color: rgba($color-primary-dark, 0.6) !important;
                                color: #fff !important;
                            }

                            &.active {
                                background-color: rgba($color-primary-dark, 0.9) !important;
                                color: $color-detail2 !important;

                                &:hover {
                                    background-color: $color-primary-dark !important;
                                }
                            }

                            & td {

                                border: none;
                                white-space: nowrap;
                                font-size: 1.2rem;
                                overflow: hidden;

                            }

                            & .notes-cell {
                                max-width: 12rem;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }

                & .list {
                    background-color: transparent;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    overflow-y: scroll;
                    position: relative;
                }

                // }

            }

            & .row-content-2 {
                margin: 2rem 0 0 0;
                padding: 0;
                justify-content: space-between;
                width: 100%;

                & .column {
                    max-height: 100%;
                    width: auto;

                    & .details {
                        height: auto;
                        width: auto;
                    }
                }
            }
        }
    }

    & .clearing.segment {
        @include reset-div;
    }

}