//0-576px Phone
//576-768px Tablet
//768-1200px Tablet landscape
//1200-1800px  Desktop
//++   Big desktop
@mixin breakpoint ($breakpoint) {
    @if $breakpoint==smartphone {
        @media (max-width:36em) {
            @content
        }

        ;
    }

    @if $breakpoint==tablet {
        @media (max-width:48em) {
            @content
        }

        ;
    }

    @if $breakpoint==tablet_landscape {
        @media (max-width:62em) {
            @content
        }

        ;
    }

    @if $breakpoint==desktop {
        @media (max-width:112.5em) {
            @content
        }

        ;
    }

    @if $breakpoint==bigdesktop {
        @media (min-width:112.5em) {
            @content
        }

        ;
    }

    @if $breakpoint==xxl {
        @media (min-width:137.5em) {
            @content
        }

        ;
    }

}

@mixin table-head {
    background-color: $color-primary-dark;
    padding: .5rem 0;
    font-size: 1.4rem;
    font-weight: $light;
    white-space: nowrap;

    & tr {
        padding: .3rem !important;
        font-size: 1.5;

    }

    & th {
        color: $color-primary-light;
        background-color: transparent;
        margin: .5rem;
        border-radius: 0;
        font-weight: $light;
        position: sticky;
        top: -2px;
        background: #4b6cb7;
        background: -webkit-linear-gradient(to top, #182848, #4b6cb7);
        background: linear-gradient(to top, #182848, #4b6cb7);
        z-index: 5;

        & i::before {
            color: $color-detail;
            font-size: 1.5rem;
        }

        & i.unset-icon::before {
            background-color: transparent;
            opacity: 0.4;
            font-size: 1.3rem;
            content: "\f0dc";
            color: #fff;
        }
    }
    @include breakpoint(tablet) {
        
        & tr {
            
            & th {
                
            }
        }
    }
}


@mixin gradient-primary-dark {
    background: rgb(191, 215, 234);
    background: linear-gradient(0deg, #001435e5 0%, rgba(11, 57, 84, 1) 100%);
}

@mixin reset-div {
    padding: 0;
    margin: 0;
    box-shadow: none;
    border: 0;
}

@mixin component-border {
    position: relative;
    background-color: $color-primary-dark;

    &:before {
        background-color: #fff;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: .4rem;
        right: .4rem;
        bottom: .4rem;
        z-index: 0;
    }
}