//0-576px Phone
//576-768px Tablet
//768-1200px Tablet landscape
//1200-1800px  Desktop
//++   Big desktop
@mixin breakpoint ($breakpoint) {
    @if $breakpoint==smartphone {
        @media (max-width:36em) {
            @content
        }

        ;
    }

    @if $breakpoint==tablet {
        @media (max-width:48em) {
            @content
        }

        ;
    }

    @if $breakpoint==tablet_landscape {
        @media (max-width:62em) {
            @content
        }

        ;
    }

    @if $breakpoint==desktop {
        @media (max-width:112.5em) {
            @content
        }

        ;
    }

    @if $breakpoint==bigdesktop {
        @media (min-width:112.5em) {
            @content
        }

        ;
    }

    @if $breakpoint==xxl {
        @media (min-width:137.5em) {
            @content
        }

        ;
    }

}

@mixin table-head {
    background-color: $color-primary-dark;
    padding: .5rem 0;
    font-size: 1.4rem;
    font-weight: $light;

    & tr {
        padding: .3rem !important;
        font-size: 1.5;

        & th {
            color: $color-primary-light;
            background-color: transparent;
            margin: .5rem;
            border-radius: 0;

            position: sticky;
            top: 0;
            background-color: $color-primary-dark;
        }
    }
}

@mixin gradient-primary-dark {
    background: rgb(191, 215, 234);
    background: linear-gradient(0deg, rgba(191, 215, 234, 1) 0%, rgba(11, 57, 84, 1) 100%);
}

@mixin reset-div {
    padding: 0;
    margin: 0;
    box-shadow: none;
    border: 0;
}