
$color-primaryB:#1d1e22;
$color-primary-darkB:#25543a;
$color-secondaryB:#393f4d;
$color-secondary-lightB:#d4d4dc;
$color-secondary-darkB:#d4d4dc;
$color-detailB:#feda6a;
$color-detail2B:#fbff00;
$font-serif:'Source+Sans+Pro:200',
serif;
$font-serif-bold:'SBold',
serif;
$font-sans:'Source+Sans+Pro:200',
sans-serif;
$font-sans-bold:'SBold',
sans-serif;
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;