
$color-primary:#087e8b;
$color-primary-light:#bfd7ea;
$color-primary-dark:#0b3954;
$color-secondary:#c81d25;
$color-secondary-light:#ff5a5f;
$color-secondary-dark:#d4d4dc;
$color-detail:#ff9f1c;
$color-detail2:#fbff00;

$color1: #3a1772;
$color2:#d741a7;
$color3: #5398be;
$color4: #f2cd5d;
$color5: #dea54b;
$color6: #f5f4f4;
$color7: #cae4db;
$color8: #cdac81;
$color9: #00303f;
$color10: #16c79a;
$color11: #a9294f;

$pip1:#323031;
$pip2:#ffc857;
$pip3:#177e89;
$pip4:#084c61;
$pip5:#db3a34;
$chart: '@include gradient-primary-dark';
$font-serif:'Heebo:300' , sans-serif;
$font-serif-bold:'SBold',
serif;
$font-sans:'Heebo:300', sans-serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;