
$color-primary:#087e8b;
$color-primary-light:#bfd7ea;
$color-primary-dark:#0b3954;
$color-secondary:#c81d25;
$color-secondary-light:#ff5a5f;
$color-secondary-dark:#d4d4dc;
$color-detail:#ff9f1c;
$color-detail2:#fbff00;
$font-serif:'Source+Sans+Pro:200',
serif;
$font-serif-bold:'SBold',
serif;
$font-sans:'Source+Sans+Pro:200',
sans-serif;
$font-sans-bold:'SBold',
sans-serif;
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;