#root {
    & .ui.container.wrapper {
        & .main-grid .leads {
            min-height: 90% !important;
            overflow: hidden;
            display: inline-flex;
            flex-flow: row wrap;
            align-content: flex-start;

            & .filter-buttons {
                & .buttons {
                    & .button.small {

                        &.active,
                        &:hover {
                            transition: all .1s linear;
                            opacity: 1;
                            background-color: $color-primary-dark;

                            &.all {
                                color: #fff;
                            }

                            &.lead {
                                color: #d95c5c !important;
                            }

                            &.opportunity {
                                color: #e6bb48 !important;
                            }

                            &.quote {
                                color: #b4d95c !important;
                            }

                            &.invoice {
                                color: #66da81 !important;
                            }
                        }

                        &:hover:not(.active),
                        &:focus {
                            opacity: .6;
                        }
                    }
                }

                & .buttons.sort-btns {
                    float: right;
                    margin-right: 5rem;

                    & .button,
                    .label {
                        padding: .3rem .5rem;
                        margin: 0 .5rem;
                        font-size: 1.3rem;

                    }

                    & .button {
                        opacity: .5;
                        border-radius: 3px;

                        &:hover,
                        &.active {
                            color: #fff;
                            transition: color .1s linear;
                            background-color: $color-primary-dark !important;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}