#root {
    & .ui.container.wrapper {
        & .main-grid .leads {
            display: flex;
            justify-content: center;

            & .filter-buttons {
                background: transparent;
                background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
                margin-bottom: 2rem;
                padding: .5rem;

                @include breakpoint(tablet) {
                    position: fixed;
                    top: 6rem;
                    left: 0;
                    right: 0;
                    height: min-content;
                    z-index: 9;
                }

                & .buttons {

                    & .button,
                    .label {
                        @include reset-div;
                        background-color: transparent;
                        color: $color-primary-dark;
                        padding: .3rem 1rem;
                        border-radius: 3px;
                    }

                    & .label {
                        font-size: 1.3rem;
                        cursor: default;
                    }

                    & .button {
                        font-size: 1.4rem;
                        margin: 0 1rem;
                        cursor: pointer;
                        opacity: 0.7;

                        &.active,
                        &:hover {
                            font-weight: $bold;
                            transition: all .1s linear;
                            opacity: 1;
                            background-color: $color-primary-dark;

                            &.all {
                                color: #fff;
                            }

                            &.lead {
                                color: #d95c5c;
                            }

                            &.opportunity {
                                color: #e6bb48;
                            }

                            &.quote {
                                color: #b4d95c;
                            }

                            &.invoice {
                                color: #66da81;
                            }
                        }

                        &:hover:not(.active) {
                            opacity: .6;
                        }
                    }
                }

                & .sort-btns {
                    float: right;
                    margin-right: 5rem;

                    & .button {
                        padding: .3rem .5rem;
                        opacity: .5;

                        &:hover,&.active {
                            color: #fff;
                            transition: color .1s linear;
                        }
                    }
                }

                @include breakpoint(smartphone) {
                    // padding: 0;
                    border-radius: 0;
                    display: flex;

                    & .sort-btns {
                        margin: 0 auto;
                        text-align: right !important;
                    }

                    & .buttons {
                        text-align: left;

                        & .button,
                        .label {
                            // padding: 0;
                            margin: .3rem;
                            font-size: 1.5rem;
                        }

                        & .button {
                            margin-left: .5rem;
                        }
                    }
                }


                @include breakpoint(tablet) {

                    & .buttons,
                    & .sort-btns {
                        display: block;
                        float: left;

                    }
                }
            }
        }
    }
}