#root {
    & .row-content-2.charts {
        & #opportunitiesChart, #opportunitiesByEmployeeChart{
padding: 3rem 0 1rem 0;
        }
        & .buttons {
            padding-right: 1rem !important;
        }

        & .chart {
            background-color: rgba(255, 255, 255, 0.116);

            border:thin solid #fff;
            @include breakpoint(tablet) {
                height: 50%;
            }
        }
    }


}