#root {
    & .ui.container.wrapper {

        & .main-grid.home {
            & .column {
                padding:0;
                margin:1rem .5rem;
                // border:thin solid #000;
                & .buttons {
                    border: thin solid #fff;
                    
                    & .button {
                        border:none;
                        background-color: $color-primary-dark !important;
                        font-weight: 500;
                        font-size: 1.2rem;
                        padding:.7rem;
                        color: #fff !important;
                        border-radius: 0;
                        &:hover, &.active {
                            background-color: #fff !important;
                            // border-color: #000;
                            color: #000 !important;
                        }
                    }
                }
            }

            & .row-content-1.pipeline-calendar {
                min-height: 60%;
                justify-content: space-around;
                @include breakpoint(tablet) {
                    max-height: min-content;

                    & :last-child {
                        padding: 0 !important;
                    }
                }

                & .pipeline-container {
                    @include breakpoint(tablet) {
                        min-height: 30rem;
                    }
                }
            }

            & .row.row-content-2.charts {
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                flex-wrap: wrap;
                min-height: 40%;
                margin-bottom: 10rem;

                & .chart {
                    background-color: rgba(255, 255, 255, 0.116);
                    height: 100%;
                    padding-bottom: 1rem;
                }
            }



        }
    }
}