#root {
    & .ui.container.wrapper {
        background-color: #060f1d;

        & .main-grid.home {

            & .row-content-1.pipeline-calendar {
                min-height: 60%;
                @include breakpoint(tablet) {
                    max-height: min-content;

                    & :last-child {
                        padding: 0 !important;
                    }
                }

                & .pipeline-container {
                    @include breakpoint(tablet) {
                        min-height: 30rem;
                    }
                }

                //calendar
                & #rbc {
                    @include breakpoint(tablet) {
                        min-height: 40rem;
                    }
                }
            }

            & .row.row-content-2.charts {
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                flex-wrap: wrap;
                min-height: 40%;
                margin-bottom: 10rem;
                & .chart{
                    height: 100%;
                }
            }



        }
    }
}