#root {
    & .pipeline-calendar {
        & .buttons {
            & .button {
                border: thin solid #fff;
                color: #fff !important;

                &:hover, &.active {
                    background-color: #fff !important;
                    color: #000 !important;
                }
            }
        }
        & #pipeline{
            margin: 5rem auto 0 auto;
        }
    }
}