body {
    & .ui.page.modals.dimmer.transition {
        background: hsla(207, 51%, 83%, 1);
        background: radial-gradient(circle, hsla(207, 51%, 83%, 1) 25%, hsla(194, 100%, 12%, 0.5) 100%);
        background: -moz-radial-gradient(circle, hsla(207, 51%, 83%, 1) 25%, hsla(194, 100%, 12%, 0.5) 100%);
        background: -webkit-radial-gradient(circle, hsla(207, 51%, 83%, 1) 25%, hsla(194, 100%, 12%, 0.5) 100%);

        & .modal {
            width: 40%;
            padding: .1rem;
            box-shadow: 1px 1px 3px 1px #000 !important;

            @include breakpoint(tablet) {
                width: 70%;
            }

            @include breakpoint(smartphone) {
                width: 90%;
            }

            &.info {
                position: relative;
            }

            & .content {
                background-image: linear-gradient(to top, #09203f 0%, #537895 100%);

                & .clearing.segment {
                    @include reset-div;
                    background: transparent;

                    & .big.form {
                        & .field {

                            & input,
                            & textarea {
                                background-color: #fff;
                                font-size: 1.4rem;

                                &::placeholder {
                                    color: rgba(0, 0, 0, 0.6);
                                }
                            }

                            & .selection {
                                & .visible.menu {
                                    min-height: min-content;
                                    overflow-y: unset;
                                    overflow-x: unset;

                                    & .item {
                                        background-color: $color9;
                                        font-size: 1.2rem;

                                        &:hover {
                                            & .text {
                                                color: $color4;
                                            }
                                        }
                                    }
                                }

                                background-color: $color9;
                                opacity:0.7;
                                color:#fff;

                                &.active {
                                    opacity: 1;

                                    & .text {
                                        color: #fff;
                                    }
                                }
                            }

                            &.error {
                                position: relative;
                                opacity: 1;

                                & .label {
                                    position: absolute;
                                    right: 5rem;
                                    margin: 5px 0;
                                    border: 0;
                                    white-space: nowrap;
                                    font-size: 1.3rem;
                                }
                            }
                        }

                        & .button {
                            opacity: 0.7;
                            font-size: 1.5rem;
                            padding: .5rem;
                            transition: all .1s linear;

                            &:hover {
                                opacity: 1;
                            }

                            &.positive {
                                background-color: #fff;
                                color: green;

                                border: 0 !important;

                                &:hover {
                                    color: #fff;
                                    background-image: linear-gradient(179.1deg, rgba(43, 170, 96, 1) 2.3%, rgba(129, 204, 104, 1) 98.3%);
                                }
                            }

                            &.negative {
                                background-color: #fff;
                                color: red;
                                border: 0 !important;

                                &:hover {
                                    color: #fff;
                                    background-image: radial-gradient(circle farthest-corner at 81.9% 53.5%, rgba(173, 53, 53, 1) 16.3%, rgba(240, 60, 60, 1) 100.2%);
                                }
                            }
                        }
                    }
                }
            }

            //confirmation modal
            &.confirmation {
                background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
                border: 2px ridge #fff;

                @include breakpoint(smartphone) {
                    width: 98%;
                }

                & .header,
                .actions {
                    border: 0;
                }

                & .header {
                    text-align: left;
                    margin: 1rem 0 0 1rem;
                }

                & .content {
                    background-image: none;
                    font-size: 1.4rem;
                    border: 0;
                    border-top: thin $color-primary-light;
                    border-style: groove;
                }

                & .form {
                    display: inline-block;
                    width: 100%;

                    &>* {
                        cursor: default;
                    }

                    & .save,
                    .keep {
                        width: 100%;
                        display: block;
                        margin: 1rem;

                        // align-content: center;
                        & .fields {
                            margin-left: 2rem;
                        }
                    }

                    & .radio-label {
                        float: right;
                    }

                    & .field.yes,
                    & .field.no {
                        & input {
                            cursor: pointer;
                        }
                    }

                    & .label {
                        background-color: transparent;
                        color: #fff;
                        font-size: 1.2rem;
                        padding: 0;
                        margin: 1rem;
                    }

                    & .field {
                        width: min-content;
                        float: left;
                        margin: auto 0;
                    }
                }

            }
        }
    }
}