#root{
    & .row-content-1.orders{
        & .list {
            height: 90%;
            & .list-col{
                max-height: 30rem;
                overflow: scroll;
            }
        }
    }
}
